.walletBlock {
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 1040px;
  padding-top: 200px;
  @media screen and (max-width: 998px) {
    padding-top: 480px;
  }

  .lineBg {
    background: linear-gradient(300deg, #4C18A5, #050373, #31DEE9 140%);
    padding-top: 104px;
    padding-bottom: 120px;

  }

  .macbook {
    position: absolute;
    bottom: -95px;
    width: 100%;
    max-width: 1250px;

    @media screen and (max-width: 1740px) {
      max-width: 70vw;
    }
    @media screen and (max-width: 1400px) {
      max-width: 60vw;
      bottom: 155px;
    }
    @media screen and (max-width: 1200px) {
      max-width: 50vw;
      bottom: 270px;
    }
    @media screen and (max-width: 998px) {
      max-width: 700px;
      bottom: 400px;
    }
    @media screen and (max-width: 450px) {
      bottom: 680px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: flex-end;

    .rightSide {
      width: 100%;
      max-width: 490px;
      display: flex;
      justify-content: center;
      align-items: center;



      .content {

        .iconWrapper{
          @media screen and (max-width: 480px) {
            flex-wrap: wrap;
          }
        }
        .icon {
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;

          &:hover {
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
  }

}