.teamBlock{
  margin-bottom: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .teamWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .teamCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover{
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }

    img{
      width: 100%;
      max-width: 200px;
      margin-bottom: 42px;
      border: 4px solid rgba(255, 255, 255, 0.3);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    .name{
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 8px;
    }
    .prof{
      font-style: normal;
      font-weight: 450;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #818C99;
    }
  }


}