.finSystemBlock{
  margin-bottom: 170px;

  h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  p{
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #818C99;
    margin-bottom: 30px;
  }
}