.footer {
  padding-top: 54px;
  padding-bottom: 36px; }
  .footer .topFooter {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1200px) {
      .footer .topFooter {
        flex-direction: column; } }
    .footer .topFooter .menuLeft {
      width: 100%;
      max-width: 471px;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 1200px) {
        .footer .topFooter .menuLeft {
          margin-bottom: 2rem; } }
      @media screen and (max-width: 768px) {
        .footer .topFooter .menuLeft {
          flex-wrap: wrap; } }
      .footer .topFooter .menuLeft a {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .footer .topFooter .menuLeft a:hover {
          cursor: pointer;
          -webkit-transform: scale(1.2, 1.2);
          -moz-transform: scale(1.2, 1.2);
          -ms-transform: scale(1.2, 1.2);
          -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
          color: #4C18A5; }
        @media screen and (max-width: 768px) {
          .footer .topFooter .menuLeft a {
            margin-bottom: 1rem; } }
    .footer .topFooter .menuRight {
      width: 100%;
      max-width: 635px;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        .footer .topFooter .menuRight {
          flex-wrap: wrap; } }
      .footer .topFooter .menuRight a {
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .footer .topFooter .menuRight a:hover {
          cursor: pointer;
          -webkit-transform: scale(1.2, 1.2);
          -moz-transform: scale(1.2, 1.2);
          -ms-transform: scale(1.2, 1.2);
          -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
          color: #4C18A5; }
        @media screen and (max-width: 768px) {
          .footer .topFooter .menuRight a {
            margin-bottom: 1rem; } }
  .footer hr {
    margin-top: 50px;
    margin-bottom: 32px;
    height: 2px;
    background: rgba(255, 255, 255, 0.05); }
  .footer .bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .footer .bottomFooter {
        flex-direction: column; } }
    .footer .bottomFooter .logo {
      width: 100%;
      max-width: 168px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media screen and (max-width: 768px) {
        .footer .bottomFooter .logo {
          margin-bottom: 2rem; } }
      .footer .bottomFooter .logo:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1); }
    .footer .bottomFooter .social {
      width: 100%;
      max-width: 260px;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        .footer .bottomFooter .social {
          margin-bottom: 2rem; } }
      .footer .bottomFooter .social a img {
        width: 100%;
        max-width: 40px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .footer .bottomFooter .social a img:hover {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }
    .footer .bottomFooter .copyright {
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 20px;
      color: #818C99; }

/*# sourceMappingURL=Footer.module.css.map */
