.brandsBlock {
  .brandTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 998px){
      flex-wrap: wrap;
    }

    h2{
      max-width: 413px;
    }
  }

  .brandCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }

    img {
      width: 100%;
      max-width: 120px;
      margin-bottom: 34px;
    }

    span{
      font-style: normal;
      font-weight: 450;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #818C99;
    }
  }
}