
@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
  url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd-Book.woff2') format('woff2'),
  url('../fonts/CircularStd-Book.woff') format('woff'),
  url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Circular Std Book', sans-serif;
  color: white;
  background: #020405;
  overflow-x: hidden;
}
.main{
  background-image:  url(../../assets/img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1900px;
}

.nav-tabs{
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .nav-link{
    border: 1px solid #151727;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #818C99;

    &.active{
      background: none;
      color: #31DEE9;
      border: 1px solid #151727;
    }
  }
}

.purple-button{
  padding: 14px 42px 18px;
  background: #4C18A5;
  box-shadow: 0px 0px 30px rgba(128, 76, 217, 0.2);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #31DEE9;
  border: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  

  &:hover, &:active, &:focus {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    color: #31DEE9;
    background-color: #4C18A5;
    border-color: #31DEE9;
  }
}

.navLinkBlue{
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: #31DEE9;
  text-decoration: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  &:hover {
    color: white;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
